/* General */


body {
    font-family: "Arial", sans-serif;
    background-color: #f8f9fa;
    color: #212529;
  }

  
  /* Encabezados */
  h1, h2 {
    color: #007bff;
  }
  
  /* Formularios */
  form input, form button {
    border-radius: 5px;
  }
  
  /* Botones */
  button {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #0056b3;
    color: white;
  }
  
  /* Tablas */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table th {
    background-color: #007bff;
    color: white;
    text-align: left;
  }
  
  table td, table th {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  body {
    background-image: url(image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
